:root {
    --scrollbar-bg: #18181B;
    --scrollbar-thumb-bg: #515153;
    --scrollbar-thumb-bg-horizontal: #555;
    --scrollbar-border: #18181B;

    --code-scrollbar-bg: #22252b;
    --code-scrollbar-thumb-bg-horizontal: #364153;
    --code-scrollbar-border: #22252b;
}

body::-webkit-scrollbar {
    background-color: var(--scrollbar-bg);
    width: 16px;
}

body::-webkit-scrollbar-track {
    background-color: var(--scrollbar-bg);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg);
    border-radius: 16px;
    border: 3px solid var(--scrollbar-border);
}

body::-webkit-scrollbar-button {
    display: none;
}

.horizontal-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--scrollbar-bg);
}

.horizontal-scroll::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--scrollbar-bg);
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--scrollbar-thumb-bg-horizontal);
}

.horizontal-scroll-code::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--code-scrollbar-bg);
}

.horizontal-scroll-code::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--code-scrollbar-bg);
}

.horizontal-scroll-code::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--code-scrollbar-thumb-bg-horizontal);
}
